html {
  font-family: "Roboto Slab", Verdana, sans-serif;
  font-size: 62.5%;
  line-height: 1.25;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: rgb(25, 172, 123);
  --primary-color-light: rgb(101, 197, 165);
  --accent-color: rgb(224, 187, 22);
  --icon-size: 2rem;
  --base-padding: 2rem;
}

body {
  font-size: 1.6rem;
  height: 100svh;
  display: grid;
  grid: 1fr 5fr / 1fr 6fr;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  grid-row: 1 / 3;
  color: white;
  background-color: var(--primary-color);
  padding: var(--base-padding);

  & ul {
    display: grid;
    grid-template-rows: 6rem repeat(10, 2.5rem);
    align-items: start;
    gap: 1em;

    & .iconify {
      font-size: var(--icon-size);
    }
  }

  .main-title {
    & .iconify {
      font-size: 4rem;
    }

    & h1 {
      font-family: "EchotopiaRegular", Verdana, sans-serif;
      letter-spacing: 2px;
      font-size: 2.5rem;
      margin: 0;
    }
  }

  & li {
    display: grid;
    grid-template-columns: 5rem minmax(130px, 1fr);
    grid-auto-flow: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    list-style: none;

    & .iconify {
      justify-self: center;
    }
  }

  & .settings {
    grid-row: 8 / 10;
    align-self: end;
  }
}

header {
  display: grid;
  gap: 15px;
  z-index: 1;
  padding: var(--base-padding);
  padding-right: calc(3 * var(--base-padding));
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
}

.search-bar {
  display: grid;
  grid-template-columns: auto 1fr auto auto 120px;
  align-items: center;
  gap: 10px;

  & .iconify {
    font-size: 2.4rem;
  }

  & img {
    width: 45px;
  }

  & input[type="search"] {
    height: 3.2rem;
    background-color: rgb(216, 221, 228);
    border-style: none;
    border-radius: 20px;
    padding-left: 10px;
    margin-right: 4em;
  }

  & span {
    font-weight: bold;
  }
}

.user-actions {
  display: grid;
  grid: repeat(2, 20px) / 70px minmax(300px, 1fr) repeat(3, 120px);
  align-items: center;
  gap: 5px 20px;

  & img {
    width: 70px;
    grid-row: 1 / -1;
  }

  & span:first-of-type {
    font-size: 1.3rem;
    font-weight: bold;
  }

  & span:nth-of-type(2) {
    grid-row: 2;
    font-size: 2.5rem;
    font-weight: bold;
  }

  & button {
    grid-row: 1 / -1;
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    border-style: none;
    border-radius: 30px;
    transition: 0.2s all ease;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
  }

  & button:hover {
    background-color: var(--primary-color-light);
    transform: translateY(-2px);
  }

  & button:active {
    transform: translateY(3px);
  }
}

main {
  display: grid;
  grid: 1fr 1fr / 3fr 1fr;
  background-color: whitesmoke;
  padding: var(--base-padding);
  gap: 2.5rem;
}

section {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.projects {
  grid-row: 1 / 3;
}

.content p {
  font-weight: lighter;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem;

  & .card {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;

    background-color: white;
    border-left: 0.8rem solid var(--accent-color);
    border-radius: 10px;
    gap: 20px;
    padding: var(--base-padding);
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);

    & h4 {
      align-self: end;
    }

    & .action-buttons {
      display: grid;
      grid-template-columns: 1fr auto auto;
      justify-items: right;
      gap: 20px;

      & .iconify {
        font-size: var(--icon-size);
      }
    }
  }
}

.announcements-container {
  display: grid;
  grid-template-rows: 1fr auto 1fr auto 1fr;
  align-items: center;

  background-color: white;
  border-radius: 10px;
  gap: 20px;
  padding: var(--base-padding);
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);

  & p {
    font-weight: lighter;
  }

  & hr {
    border-color: rgb(255, 255, 255, 0.5);
  }
}

.trending-container {
  display: grid;
  grid: repeat(4, 1fr);

  background-color: white;
  border-radius: 10px;
  gap: 20px;
  padding: var(--base-padding);
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);

  & img {
    width: 45px;
    grid-row: span 2;
    justify-self: center;
  }

  & .subtitle {
    font-weight: lighter;
  }

  & div {
    display: grid;
    grid: auto auto / 70px 1fr;
  }
}
